@font-face {
    font-family: 'FreeSerif';
    font-display: swap;
    src: local('FreeSerif'),
         url('/static/fonts/FreeSerif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
