*.sw[op]
key_*.pem
scripts/.stub_key_*.pem
data/*
config/*.key
config/me.yml
src/micronote/static/media/*
src/micronote/static/pwa
src/micronote/static/favicon.ico
.mypy_cache/
.ruff_cache/
.pytest_cache/
__pycache__/
node_modules/
.html-render/
*.db
*.db-shm
*.db-wal
.DS_Store
*.egg-info/
build/
dist/
