python-dateutil
tornado<6.0.0
flower
gunicorn
piexif
requests
python-u2flib-server
Flask
Flask-WTF
neosqlite==1.16.1
timeago
bleach
html2text
feedgen
itsdangerous
bcrypt
mf2py
passlib
git+https://github.com/erikriver/opengraph.git
active-boxes==0.2.2
pyyaml
pillow
cachetools
gevent
emoji
git+https://github.com/bashell-com/langdetect.git
similar_text
yandex-translater
git+https://github.com/bashell-com/jinja2-htmlcompress.git
