@font-face {
    font-family: 'FreeSerif';
    src: url('/static/fonts/FreeSerif.eot');
    src: local('FreeSerif'),
         url('/static/fonts/FreeSerif.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/FreeSerif.woff2') format('woff2'),
         url('/static/fonts/FreeSerif.woff') format('woff'),
         url('/static/fonts/FreeSerif.ttf') format('truetype'),
         url('/static/fonts/FreeSerif.svg#FreeSerif') format('svg');
    font-weight: normal;
    font-style: normal;
}
