<!DOCTYPE html>
<html lang="en" data-theme="{{ config.THEME_STYLE.value }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<title>{% block title %}{{ config.NAME }}{% endblock %}'s micronote.pub</title>
	<link rel="manifest" href="/manifest.json">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="{{ config.NAME }}'s micronote.pub">
	<link rel="apple-touch-icon" href="{{ config.CDN_URL }}/static/pwa/icon-180.png">
	<link rel="shortcut icon" href="{{ config.CDN_URL }}/static/favicon.ico">
	<link rel="stylesheet" href="{{ config.CDN_URL }}/static/css/pure-min.css" media="not all">
	<link rel="stylesheet" href="/static/css/Mali.css" media="not all">
	<link rel="stylesheet" href="/static/css/BlobMoji.css" media="not all">
	<link rel="stylesheet" href="/static/css/Quivira.css" media="not all">
	<link rel="stylesheet" href="{{ config.CDN_URL }}/static/css/notepad.css" media="not all">
	<link rel="stylesheet" href="{{ config.CDN_URL }}/static/app.css" media="not all">
	<link rel="authorization_endpoint" href="{{ config.ID }}/indieauth">
	<link rel="token_endpoint" href="{{ config.ID }}/token">
{% if not request.args.get("older_than") and not request.args.get("previous_than") %}
	<link rel="canonical" href="https://{{ config.DOMAIN }}{{ request.path }}">
{% endif %}
{% block links %}{% endblock %}
{% if config.THEME_COLOR %}
	<meta name="theme-color" content="{{ config.THEME_COLOR }}">
	<style>:root { --primary-color: {{ config.THEME_COLOR }}; }</style>
{% endif %}
{% block headers %}{% endblock %}
</head>
<body style="font-family: Mali, BlobMoji, Quivira !important;">
	<link rel="stylesheet" href="{{ config.CDN_URL }}/static/css/pure-min.css" media="all">
	<link rel="stylesheet" href="/static/css/Mali.css" media="all">
{% if logged_in %}
	<div id="admin-menu-wrapper">
		<ul id="admin-menu">
			<li class="left">
				<a href="/admin" class="admin-title {% if request.path.startswith("/admin") %} selected{% endif %}">Admin</a>
			</li>
			<li class="left">
				<a href="/" class="{% if not request.path.startswith("/admin") %} selected{% endif %}">Public</a>
			</li>
			<li class="left">
				<a href="/admin/new" {% if request.path=="/admin/new" %} class="selected"{% endif %}>New</a>
			</li>
			<li class="left"><a href="/admin/stream" {% if request.path=="/admin/stream" %} class="selected"{% endif %}>Stream</a>
			</li>
			<li class="left">
				<a href="/admin/notifications" {% if request.path== "/admin/notifications" %} class="selected"{% endif %}>Notifications</a>
			</li>
			<li class="left">
				<a href="/following" {% if request.path=="/following" %} class="selected"{% endif %}>Following</a>
			</li>
			<li class="left">
				<a href="/admin/lookup" {% if request.path=="/admin/lookup" %} class="selected"{% endif %}>Lookup</a>
			</li>
			<li class="left">
				<a href="/admin/logout">Logout</a>
			</li>
		</ul>
	</div>
{% endif %}
	<div class="base-container">{% block content %}{% endblock %}</div>
	<div class="footer">
		<div>
			Powered by <a href="https://github.com/cwt/micronote.pub">micronote.pub</a>
			<small class="micronote-version"><code>{{ micronote_version }}</code></small>
			and the <a href="https://activitypub.rocks/">ActivityPub</a> protocol.
			Also thanks to <a href="https://github.com/C1710/blobmoji">BlobMoji</a>
			for bringing back the cute yellow blob. 😇
		</div>
	</div>
	<link rel="stylesheet" href="/static/css/BlobMoji.css" media="all">
	<link rel="stylesheet" href="/static/css/Quivira.css" media="all">
	<link rel="stylesheet" href="{{ config.CDN_URL }}/static/css/notepad.css" media="all">
	<link rel="stylesheet" href="{{ config.CDN_URL }}/static/app.css" media="all">
</body>
</html>

