{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block title %}{% if request.path == url_for('admin.admin_stream') %}Stream{% else %}Notifications{% endif %} - {{ config.NAME }}{% endblock %}
{% block content %}
<div class="h-feed" id="container">
	{% include "header.html" %}
	<div id="admin">
		<div id="notes">
		{% for item in inbox_data %}
			{% if 'actor' in item.meta %}
				{% if item | has_type('Create') %}
					{{ utils.display_note(item.activity.object, ui=True, meta=item.meta) }}
				{% else %}
					{% if item | has_type('Announce') %}
						{% set boost_actor = item.meta.actor %}
						{% if boost_actor %}
							<p style="margin-bottom:0px;">
								<span class="bar-item-no-hover"><a style="color:#808080;" href="{{ boost_actor.url | get_url }}">{{ boost_actor.name or boost_actor.preferredUsername }}</a> boosted</span>
							</p>
						{% endif %}
						{% if item.meta.object %}
							{{ utils.display_note(item.meta.object, ui=True) }}
						{% endif %}
					{% endif %}
					{% if item | has_type('Like') %}
						{% set boost_actor = item.meta.actor %}
						<p style="margin-bottom:0px;">
							<span class="bar-item-no-hover"><a style="color:#808080;" href="{{ boost_actor.url | get_url }}"> {{ boost_actor.name or boost_actor.preferredUsername }}</a> liked</span>
						</p>
						{% if item.meta.object %}
							{{ utils.display_note(item.meta.object, ui=False, meta={'actor': item.meta.object_actor}) }}
						{% endif %}
					{% endif %}
					{% if item | has_type('Follow') %}
						<div style="margin-bottom:0px;">
							<span class="bar-item-no-hover">new follower</span>
							<form action="/api/follow" class="action-form" method="POST">
								<input type="hidden" name="redirect" value="{{ request.path }}" />
								<input type="hidden" name="actor" value="{{ item.meta.actor.id }}" />
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
								<button type="submit" class="bar-item">follow back</button>
							</form>
						</div>
						<div class="note-box">
							<div class="note notepad">
								{{ utils.display_actor_inline(item.meta.actor, size=50) }}
							</div>
						</div>
					{% elif item | has_type('Accept') %}
						<p style="margin-bottom:0px;">
							<span class="bar-item-no-hover">you started following</span>
						</p>
						<div class="note-box">
							<div class="note notepad">
								{{ utils.display_actor_inline(item.meta.actor, size=50) }}
							</div>
						</div>
					{% elif item | has_type('Undo') %}
						<p style="margin-bottom:0px;">
							<span class="bar-item-no-hover">unfollowed you</span>
						</p>
						<div class="note-box">
							<div class="note notepad">
								{{ utils.display_actor_inline(item.meta.actor, size=50) }}
							</div>
						</div>
					{% else %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
			{{ utils.display_pagination(older_than, newer_than) }}
		</div>
	</div>
</div>
{% endblock %}

